@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_Layout";
}

<h1>Create New Roles</h1>

<form asp-controller="AdminHome" asp-action="CreateRole" method="post">
    <input type="text" name="roleName" value="" />
    <input type="submit" name="submit" value="Add" />
</form>