@model ProfileMatching.Models.JobPost
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobPostName" class="control-label"></label>
                <input asp-for="JobPostName" class="form-control" />
                <span asp-validation-for="JobPostName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPostBudget" class="control-label"></label>
                <input asp-for="JobPostBudget" class="form-control" />
                <span asp-validation-for="JobPostBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobLength" class="control-label"></label>
                <input asp-for="JobLength" class="form-control" />
                <span asp-validation-for="JobLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPostDescription" class="control-label"></label>
                <input asp-for="JobPostDescription" class="form-control" />
                <span asp-validation-for="JobPostDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobApplicationDeadline" class="control-label"></label>
                <input asp-for="JobApplicationDeadline" class="form-control" />
                <span asp-validation-for="JobApplicationDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            @if (ViewBag.Role == "Admin")
            {
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
            }
            else
            {
                 <div hidden class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input name="UserId" asp-for="UserId" value=@UserManager.GetUserId(User)></input>
                </div> 
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <button onclick="history.go(-1)">Back to List</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
