@model ProfileMatching.Models.Contact
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<section style="margin-top:150px;margin-bottom:150px;">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Feel free to <br />
                        <span class="text-primary">contact us</span>
                    </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                        <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group" style="display:none;">
                                        <label asp-for="UserId" class="control-label"></label>
                                        <input name="UserId" asp-for="UserId" value=@UserManager.GetUserId(User)></input>
                                </div>
                                <!-- 2 column grid layout with text inputs for the first and last names -->


                                        <div class="form-outline mb-5">
                                            <input asp-for="Message" class="form-control" style="min-height:150px;width:100%;"/>
                                            <label asp-for="Message" class="control-label"></label>
                                            <span asp-validation-for="Message" class="text-danger"></span>
                                        </div>



                                <!-- Submit button -->
                                <input type="submit" value="Send Message" class="btn btn-primary btn-block mb-4" />

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
