html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

}

.navbar-brand {
    background-image: url("https://i.imgur.com/QTL0bnR.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 48px;
}

#FreelancerDescriptionCss {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notification-item {
    background-color: #0d6efd;
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.notification-item svg{
    margin-right: 10px;
}